@using System.Web.Optimization
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>uManage</title>
    @Styles.Render("~/styles/css", "~/styles/ums")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
    <div id="applicationHost">
        <div id="splash">
            <img src="~/Content/images/Logo.png" alt="uManage" />
            <br />
            <br />
            <h3>Loading...</h3>
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            &copy; @DateTime.UtcNow.Year <a href="http://www.brentpabst.com" target="_blank">Brent Pabst</a>
            <br />
            <em>A <strong>203 Enterprises</strong> Project</em>
        </div>
    </div>
    @Scripts.Render("~/scripts/vendor")
    <script type="text/javascript" src="/Scripts/require.js" data-main="/App/main"></script>
    <!--
        *****
        Server/User Information
        *****
        --------------------------------------------------------------
        User:       @User.Identity.Name
        Web Server: @Dns.GetHostEntry("localhost").HostName.ToLower()
        --------------------------------------------------------------
    -->
</body>
</html>
